*{
    margin: 0;
    padding: 0;
    
}
.header{
    display: grid;
     width: 100%;
   height: 50px;

   background-color: darkgrey;
   grid-template-columns: 1fr 5fr;
   grid-template-rows: 1fr;
   text-transform: uppercase;
   gap: 3%;
}
.logo{
    margin-top: 6px;
    margin-left: 2%;
}
.header ul{
    /* display: flex;
    
    justify-content: space-around;
    align-items: center; */
    width: 100%;
    height: 50px;
    display: grid;
    background-color: aquamarine;
    grid-template-columns: 1fr 3fr 5fr 4fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1%;
    margin-top: 20px;

     
}
.header ul li {
    list-style: none;
   
}
.header ul li span{
    padding-left: 20%;
}
.header ul li button{
width: 50px;
}
.header ul li input{
    padding-left: 10%;
    /* margin-right: 30%; */
    block-size: 50%;
}
.material-symbols-outlined{
    margin-top: 2px;
}
#menu{
    display: none;
    
} 



.header p{
    text-transform: capitalize;
    text-decoration: none;

}
.products{
    /* background-color: rgba(113, 143, 110, 9.1);
    width: 100%;
    height: auto;
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%; */
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E5F7;
opacity: 0.8;
background-image: radial-gradient(circle, #444CF7 0.8px, transparent 0.8px);
background-size: 25px 10px;

}
.card{
    width: 200px;
    height: 300px;
    border: 1px solid black;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     
    padding: 2%;
    margin: 2%;
    
}
.products .card img{
    width: 250px;
    height: 250px;
}

.search-icon {
  color: hsla(46, 75%, 54%, 0.562);
}

/*login signup buttons */


/* From Uiverse.io by adamgiebl */ 
button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 10px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:hover {
  border: 1px solid white;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}









/* home css */

.heading {
  width: 100%;
  font-size: 60px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orchid;
}


/* =========================
   CURSOR
========================= */

.cursor {
  animation: blink 0.7s infinite;
  color: tomato;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


/* =========================
   WORD WINDOW
========================= */

.word-box {
  height: 1.2em;
  overflow: hidden;

  display: inline-block;

  vertical-align: bottom;
}


/* =========================
   PERMANENT WORD TRACK
========================= */

.word-track {
  display: flex;
  flex-direction: column;

  transition: transform 0.7s cubic-bezier(
    0.65,
    0,
    0.35,
    1
  );
}


/* =========================
   WORD
========================= */

.word {
  height: 1.2em;

  display: flex;
  align-items: center;

  white-space: nowrap;
}