*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50px;
      background: linear-gradient(135deg, #fed54f, #fe00e9);
    backdrop-filter: blur(8px);
    --webkit-backdrop-filter: blur(12px);
    /* gap: 10%; */
    
    text-transform: uppercase;
}
.links{
    display: flex;
    gap: 200px;
}
#menu{
    display: none;
    
}
/* .header logo{
    width: 40px;
} */
@media (max-width:600px) {
 
    #menu{
        display: block;

    }
    .links{
         display: none;
    }
    .manu-open{
         display: flex;
         flex-direction: row;
    }

}
.header p{
    text-transform: capitalize;
    text-decoration: none;

}
.products{
    background-color: rgba(113, 143, 110, 9.1);
    width: 100%;
    height: auto;
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
}
.card{
    width: 250px;
    height: 350px;
    border: 1px solid black;
     grid-template-rows: 1fr 1fr 1fr 1fr;
    /* padding: 2%;
    margin: 2%; */
    
}
.products .card img{
    width: 250px;
    height: 250px;
}

.search-icon {
  color: hsla(46, 75%, 54%, 0.562);
}